.header {
  width: 100%;
  text-transform: uppercase;
  font-size: 24px;
}

.form {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input {
  all: unset;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
}

.input_short {
  width: auto;
}

.textarea {
  min-height: 100px;
  resize: none;
}

.btn {
  all: unset;
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #fff;
  color: #000000;
  border-radius: 10px;
  cursor: pointer;
}